

#banner{
 margin-top: 10px;
 img{
  width: 100%; 
  height: 420px;
 }
}
.chose{
  height: 510px;
  margin-top: 30px;
  position: relative;
  .intro{
    padding-bottom: 20px;
    .new{
      float: left;
      a{
        font-size: 28px;
        font-weight: 700;
        line-height: 1;
        float: left;
        margin-right: 20px;
      }
      span{
        padding-top: 13px;
        display: inline-block;
        font-size: 14px;
        line-height: 1;
      }
    }
    .more{
      float: right;
      a{
        display: inline-block;
        line-height: 1;
        margin-left: 30px;
        padding-top: 14px;
        font-size: 14px;
      }
    }
  }
  .swiper-container {
    margin-top: 30px;
    width:1090px;
    height: 450px;
  }  
  .shop{
    width: 265px;
    margin-right: 10px;
    .good{
      width: 265px;
     height: 265px;
      overflow: hidden;
      &:hover .goodimg1{
        display: none;
      }
      .goodimg2{
        width: 265px;
        height: 265px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .bd{
      text-align: center;
      .part{
        height: 20px;
        color: #ffffff;
        width: 200px;
        margin: 0 auto 3px;
        span{
          height: 20px;
          line-height: 20px;
          color: #ffffff;
          padding: 0 5px;
          background-color: #e36844;
          display: inline-block;
          font-size: 12px;
        }
      }
      .name{
        width: 166px;
        margin: 0 auto 4px;
        max-height: 40px;
        line-height: 20px;
        display: block;
        overflow: hidden;
        a{
        font-size: 14px;
        }
      }
      .pri{
        padding: 1px 0 9px;
        font-size: 13px;
        line-height: 13px;
        color: #d4282d;
        margin: 0;
        .countpri{
          font-size: 12px;
          color: #999999;
        }
      }
    }
  }
  .selllist{
     width: 110px;
     position: absolute;
     border: 1px solid #E2DED6;
     border-bottom: none;
     z-index: 98;
     background: #ffffff;
     border-radius: 4px;
     overflow: hidden;
     position: absolute;
     top: 0px;
     left: -135px;
     display: block;
     opacity: 1;
     will-change: transform;
     transform: translateZ(0);
     .hots{
       font-size: 16px;
       color: #BB3343;
       text-align: center;
       line-height: 38px;
       height: 38px;
       border-top-right-radius: 4px;
       border-top-left-radius: 4px;
       font-weight: 700;
       cursor: default;
       padding: 0;
       background: url(https://yanxuan.nosdn.127.net/7c1853dd59b79d823ad3c4f3a0330049.png);
     }
     li{
       width: 108px;
       height: 36px;
       padding-left: 1px 11px 0;
       text-align: left;
       position: relative;
       display: table;
       cursor: pointer;
       border-bottom: 1px solid #E2DED6;
       box-sizing: border-box;
       &:hover span{
        color: #d4282d;
       }
       img{
         position: absolute;
         top: 2px;
         left: 12px;
         width: 30px;
         height: 30px;
       }
       span{
         vertical-align: middle;
         display: table-cell;
         width: 40px;
         line-height: 14px;
        text-align: left;
         font-size: 12px;
         padding-left: 36px;
         padding-right: 20px;
       }
     }
  }

  .consult{
    display: block;
    position: absolute;
    top:13px;
    right: -180px;
    a{
      display: block;
      padding-top: 0;
      width: 72px;
      height: 140px;
      background-color: #fff;
      color: #666;
      text-align: center;
      line-height: 1;
      cursor: pointer;
      position: relative;
      border-bottom: solid 1px #999;
      img{
        width: 70px;
        height: 70px;
      }
      .txt1{
        line-height: 17px;
        color: #666;
      }
      .txt2{
        line-height: 17px;
        color: #BC3B3B;
      }
    }
    .sub{
      display: block;
      height: 78px;
      width: 72px;
      background: #fff;
      color: #666;
      text-align: center;
      line-height: 1;
      cursor: pointer;
      position: relative;
      padding-top: 14px;
      border-bottom: solid 1px #999;
      &:hover .book{
        display: block;
      }
      &:hover{
        color: #b4a078;
      }
      &:hover .wifi{
        background-position: 0 -455px;
      }
      .wifi{
        display: block;
        background-position: 0 -527px;
        margin-left: 25px;
        height: 26px;
        width: 26px;
      }
      p{
        line-height: 20px;
        font-size: 14px;
        margin: 8px auto 0;
      }
      .book{
        position: absolute;
        top: -37px;
        right: 49px;
        z-index: 50;
        width: 400px;
        height: 220px;
        cursor: default;
        line-height: 20px;
        display: none;
        .yx-main{
          width: 370px;
          height: 220px;
          background: #fff;
          border: 1px solid #EAEAEA;
          box-shadow: 0 2px 4px #7f7f7f;
          position: relative;
          .yx-head{
            background: url(https://yanxuan.nosdn.127.net/86fe9b8317068538cda05d96768a6e17.png?imageView&type=webp);
            height: 70px;
            text-align: center;
            line-height: 70px;
            font-size: 26px;
            color: #fff;
            margin-top: -1px;
            margin-left: -1px;
          }
          .yx-body{
            .yx-desc{
              font-size: 14px;
              color: #999;
              text-align: center;
              margin-top: 20px;
            }
            .iptbox{
              width: 286px;
              height: 34px;
              margin: 10px auto 0;
              box-sizing: border-box;
              input{
                width: 206px;
                height: 34px;
                padding: 5px 10px;
                font-size: 14px;
                background: #f8f8f8;
                border: 1px solid #DDD;
                border-right: none;
                box-sizing: border-box;
              }
              button{
                width: 80px;
                height: 34px;
                font-size: 14px;
                background-color: #b4a078;
                color: #fff;
                line-height: 34px;
                box-sizing: border-box;
                border: none;
                vertical-align: top;
                cursor: pointer;
              }
            }
           
            }
            .yx-foot{
              margin-top: 31px;
              overflow: hidden;
              line-height: 1;
              .yx-icon{
                width: 122px;
                float: left;
                span{
                  font-size: 14px;
                  color: #B4A078;
                  padding-left: 3px;
                }
                .ic1{
                  display: inline-block;
                  vertical-align: top;
                  background-position: 0 -563px;
                  height: 14px;
                  width: 14px;
                }
                .ic2{
                  display: inline-block;
                  vertical-align: top;
                  background-position: 0 -24px;
                  height: 12px;
                  width: 14px;
                }
                .ic3{
                  display: inline-block;
                  vertical-align: top;
                  background-position: 0 -431px;
                  height: 14px;
                  width: 14px;
                }
              }
          }
        }
      }
     }
     .online{
       display: block;
       width: 72px;
       height: 82px;
       background-color: #fff;
       color: #666;
       text-align: center;
       line-height: 1;
       cursor: pointer;
       padding-top: 14px;
       &:hover{
         color: #B4A078;
       }
       &:hover .ic4{
         background-position: 0 -46px;
       }
       .ic4{
         display: inline-block;
         background-position: 0 -128px;
        height: 31px;
        width: 32px;
       }
       p{
         line-height: 20px;
         font-size: 14px;
         margin: 8px auto 0;
       }
     }
    }
 }

#suggestion{
  background: #f4f0ea;
  cursor: pointer;
  padding: 60px 0;
 .g-row{
   width: 1090px;
   margin-left: auto;
   margin-right: auto;
   .commonHeader{
    padding-bottom: 20px;
    .f-left{
      float: left;
      h3{
        float: left;
        font-size: 28px;
        line-height: 1;
        font-weight: 700;
        margin-right: 20px;
      }
      .commontab{
        float: left;
        padding-left: 13px;
        ul{
         li{
          float: left;
          text-align: center;
          font-size: 14px;
          width: 70px;
          height: 28px;
          line-height: 28px;
          margin-right: 55px;
          &:hover a{
            color: #b4a078;
          }
        }
        }
      }
    }
    .f-right{
      float: right;
      a{
        display: inline-block;
        line-height: 1;
        margin-left: 30px;
        padding-top: 14px;
        cursor: pointer;
        font-size: 14px;
      }
    }
   }
 }
  .showContainer{
    margin-top: 30px;
    .m-product:first-child{
      width: 390px;
     height: 570px;
      margin-left: 0;
      background-color: #fff;
      float: left;
      overflow: hidden;
      text-align: center;
      line-height: 1;
      font-size: 13px;
      .hd{
        margin-bottom: 18px;
        border-bottom: 1px solid #F4F0EA;
        .goodsimg{
          width: 100%;
          height: 100%;
          img{
            width: 320px;
            height: 320px;
            margin: 40px 35px;
          }
        }
      }
     
      .bd{
        .prdtTags{
          height: 20px;
          color: #fff;
          width: 200px;
          margin: 0 auto 3px;
          overflow: hidden;
          span{
            height: 20px;
            line-height: 20px;
            color: #fff;
            padding: 0 5px;
            background-color: #e36844;
          }
        }
        .goodsname{
          line-height: 26px;
          max-height: 52px;
          margin: 0 auto 13px;
          font-size: 18px;
          width: 248px;
        }
        .total{
          line-height: 13px;
          color: #d4282d;
          padding: 1px 0 9px;
          .realPic{
            font-size: 18px;
            height: 18px;
            line-height: 1;
          }
          .counPic{
            font-size: 14px;
            color: #999;
          }
        }
      }
    }
    .m-product{
      background-color: #fff;
      overflow: hidden;
      width: 223px;
      height: 280px;
      float: left;
      margin-left: 10px;
      text-align: center;
      margin-top: 5px;
      .hd{
        background: 0 0;
      border-bottom: 1px solid #F4F0EA;
      position: relative;
      margin-bottom: 8px;
      overflow: hidden;
      .goodsimg{
        width: 100%;
        height: 100%;
        img{
          width: 180px;
          height: 180px;
        }
      }
      }
      .bd{
        .prdtTags{
          height: 20px;
          color: #fff;
          width: 200px;
          margin: 0 auto 3px;
          overflow: hidden;
          span{
            height: 20px;
            line-height: 20px;
            color: #fff;
            padding: 0 5px;
            background-color: #e36844;
          }   
        }
          .goodsname{
            width: 136px;
            margin: 0 auto 4px;
            max-height: 40px;
            line-height: 20px;
            overflow: hidden;
          }
          .total{
            font-size: 13px;
            line-height: 13px;
            color: #d4282d;
            padding: 1px 0 9px;
            margin: 0;
            .realPic{
              position: relative;
              top: 1px;
              line-height: 13px;
              height: 13px;
              padding: 0;
            }
            .counPic{
              font-size: 12px;
              color: #999;
              top: 2px;
            }
          }
     
      }
    }
  }
}

.click{
  color:  #b4a078;
  border-bottom: 3px solid  #b4a078;
}


.swiper-button-next, .swiper-button-prev{
  top: 170px;
}

// 精灵图
.icon{
  background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png?imageView&type=webp) no-repeat;
}
.icon2{
  background: url(https://yanxuan.nosdn.127.net/77f98b239f0d848eb54151c4ad6eab96.png?imageView&type=webp);
}
.icon3{
  background: url(https://urswebzj.nosdn.127.net/webzj_cdn101/sprite_61fbe151ab715649c6b7c4ec39156201.png);
}
.icon4{
  background: url(https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png?imageView&type=webp)no-repeat center;
}
.icon5{
  background: url(https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfixedtool-sb35ce57899-796b48a324.png?imageView&type=webp);
}

//遮罩层
.mask{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.4);
  display: none;
}

